/*  UITWISKELING KLEUREN */


/* #009bd DONKERBLAUW (ACTUALITEIT) */
/* ##f0811a ORANJE (BIBWIJZER) */
/* #dd3333 ROOD (MODERNISERING SO) */
/* #d15399 ROOS (ONDER DE LOEP)  */
/* #1c8fa2 APPELBLAUWZEEGROEN (REDACTIONEEL) */
/* #81BA27 GROEN (SPINNENWEB) */
/* #5690b7 NOG EEN BLAUW (VERSCHENEN IN VECTOR) */
/* #C9053F LOGO ROOD  */
/* #F0C1BF LOGO TRANSPARANT UNDERLINE */
/* #ebe9eb grijs tint van de website  */




:root {
	/* --main-title: #C9053F; */
	--main-title: #d15399;
	--menu-part: #d15399;
	/* --accent: #F0C1BF; */
	--accent: #C9053F;
	--definition: #81BA27;
	/* --exercises: #1c8fa2; */
	--exercises: #d15399;
	--menu-1: #d15399;
	--menu-2:  #d15399;
}

img.brandlogo {
	border-radius: 10px;	
	max-height: 6rem;
}

img.xourselogo {
	max-height: 6rem;
	max-width: 20vw;
	border-radius: 10px;
}


.main-title {
	background-color: var(--main-title);
	color: white;
	/* align-items: anchor-center; */
}


.toc .activity-card.active {
    background-color: var(--accent) !important;
    /* color: white;
    border-color: #292b2c; */
}

.toc .part {
    font-size: larger;
    background-color: var(--menu-part);
}


	.exercise, .exercise-content, .exercise.ui-accordion-header {
		--pba: var(--exercise-background-perc);
		--pbo: var(--exercise-border-perc);
		--r: var(--example-red);
		--g: var(--example-green);
		--b: var(--example-blue);
		
		--background-color: rgba(28, 143, 162, 0.2);  /* 50% opacity */
		--background-color: color-mix(in srgb, var(--exercises), white 80%);
		
		--border-color: var(--exercises);	
		
		background-color: var(--background-color);
		border: 1px solid var(--border-color);
		border-left: 12px solid var(--border-color);
	}